{% extends 'base.html' %}
{% block title %}Task{% endblock %}

{% block content %}
    <div class="text-center-3">
        <h1>{{task_name}}</h1>
        <h3>Description</h3>
        <p>{{description}}</p>
        <h3>Status</h3>
        <p>{{status}}</p>

        <button class="btn btn-primary mx-1 text-decoration-none">
            <a href="{% url 'todolist:update_task' id %}" class="text-light, text-decoration-none" >Edit Task</a>
        </button>
        <button class="btn btn-primary mx-1 text-decoration-none">
            <a href="{% url 'todolist:delete_task' id %}" class="text-light, text-decoration-none" >Delete Task</a>
        </button>
        <button class="btn btn-primary mx-1 text-decoration-none">
            <a href="{% url 'todolist:index' %}" class="text-light, text-decoration-none" >Back to Tasks</a>
        </button>
    </div>
    
{% endblock %}


<!-- <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h1 class="text-center my-3">{{ task_name }}</h1>
                <h3>Description</h3>
                <p>{{ description }}</p>
                <h3>Status</h3>
                <p>{{ status }}</p>
                <div class="text-center">
                    <a class="btn btn-primary" href="{% url 'todolist:index' %}">Back to Index Page</a>
                </div>
            </div>
        </div>
</div> -->